<launch>
	<arg name="as_feature" default="true"/>
	<!--<include file="$(find sensor_stick)/launch/training.launch"/>-->
	<node pkg="pr2_robot" type="data_collection.py" name="collector" output="screen">
		<param name="as_feature" value="$(arg as_feature)"/>
		<rosparam command="load" file="$(find pr2_robot)/config/pick_list_3.yaml"/>
	</node>
</launch>
